body {
    user-select: none;
    /*background-image: radial-gradient(darkgray, black 50%);*/
    background-color: black;
    color: lightgray;
}

/*nav*/
nav{
    margin-top: -10px;
    margin-left: -7.5px;
    margin-right: -7.5px;
    height: 55px;
    box-shadow: 0px 1px 12px;
    background-color: black;
    border: none;
}

nav > h1{
   font-family: 'Poppins', Courier, monospace;
   position: absolute;
   left: 30px;
   bottom: 500px;
   animation: fade-down 0.5s;
   color: darkgoldenrod;
}
.nav-list{
    position: absolute;
    left: 75%;
    top: 20px;
    animation: fade-down 0.5s;
}

.nav-btn{
    background-color: var(--background-color);
    color: darkgoldenrod;
    position:relative;
    margin-right: 20px;
    border: none;
    z-index: 1;

    transition: color 300ms ease-in-out;

    --background-color: black;
    --accent-color: darkgoldenrod;
    /*#0af was previous color; could do that for a light mode*/
}

.nav-btn::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--accent-color);

    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.nav-btn:hover::before,
.nav-btn:focus::before{
    transform: scaleX(1);
}

.nav-btn:hover,
.nav-btn:focus{
    color: black;
}

/*Main page*/
/*.mainPage{
    background-image: radial-gradient(black, darkgoldenrod, black);
}*/
.ZackPic{
    border-radius: 100%;
    max-width: 200px;
    max-height: 200px;
    position: relative;
    animation: fade-up 0.5s;
}

.hello_world{
    text-align: center;
    font-family: 'Poppins', Courier, monospace;
    margin: auto;
    position: relative;
    top: 50%;
    width: 50%;
    margin-bottom: 40px;
    animation: fade-up 0.5s;
}

.hello_world > h1{
    margin-bottom: -20px;
    font-size: x-large;
}

.globe {
    position: relative;
    top: 5px;
    left: 2px;
}

.about {
    text-align: center;
    font-family: 'Poppins', Courier, monospace;
    margin: auto;
    position: relative;
    top: 70%;
    width: 50%;
    margin-bottom: 40px;
    animation: fade-up 0.5s;
}

/*Card*/
/*.backCard {
    background-color: rgb(10,20,20);
    border: 2px;
    margin: auto;
    position: relative;
    top: 50%;
    width: 80%;
}

.card{
    border: 2px;
    margin: auto;
    position: relative;
    text-align: center;
    top: 50%;
    width: 30%;
    border-radius: 10px;
    background-color: rgb(0,5,15)
}

.ZackPic {
    border-radius: 100%;
    max-width: 200px;
    max-height: 200px;
    position: relative;
    margin-left: 40%;
}

.name{
    color: white;
    font-family:Cambria;
    font-size: x-large;
    margin-top: 0px;
    font-family: "consolas", sans-serif;
}

.position{
    color: goldenrod;
    font-family: Gill Sans;
    font-size: medium;
    margin-top: -15px;
}

.website{
    color: white;
    font-size: small;
    margin-top: -8px;
}

.sectionHeader{
    color: white;
    margin-top: 0px;
    text-align: left;
    margin-left: 5px;
    font-family: "consolas", sans-serif;
    font-weight: bold;
}

.section{
    color: white;
    position: relative;
    margin-top: -10px;
    margin-left: 5px;
    text-align: left;
    font-size: 75%;
    bottom: 5px;
}

.buttons{
    margin-top: -5px;
    margin-bottom: 5px;
}

.buttons button{
    transition: all 0.5s;
}

.emailLogo{
    margin-bottom: -2px;
    margin-right: 1px;
}

.linkedLogo{
    margin-bottom: -1.5px;
    margin-right: 1px;
}

.emailButton {
    border-radius: 5px;
    margin-right: 5px;
    font-weight: bold;
    border: none;
    height: 30px;
    width: 100px;
}

.socialButton {
    border-radius: 5px;
    margin-left: 5px;
    font-weight: bold;
    background-color: #0A66C2;
    color: white;
    border: none;
    height: 30px;
    width: 100px;
}

.bottomButtons{
    color: gray;
    background-color: rgb(0,5,15);
    border: none;
}

.buttons button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttons button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.emailButton:hover span{
    padding-right: 15px;
}

.socialButton:hover span{
    padding-right: 15px;
}

.buttons button:hover span:after {
    opacity: 1;
    right: 0;
}*/

/*Key frames*/
@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

/*Coming Soon page*/
.comingSoonText {
    text-align: center;
    font-family: 'Poppins', Courier, monospace;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 43%;
    animation: fade-up 0.5s;
}

/*Resume page*/
.resume{
    animation: fade-up 0.5s;
}

.employer{
    display: flex;
    margin-left: 40%;
}

section{
    display: flex;
    align-items: center;
    min-height: 100vh;
    animation: fade-in-scroll linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 400px;
    /*background-color: darkgoldenrod;*/
    border-radius: 8%;
}

.leftText{

}

.rightText{
    
}

.image{
    float: left;
    border-radius: 25%;
    max-width: 500px;
    max-height: 500px;
    margin-left: 50px;
    margin-right: 50px;
}

@keyframes fade-in-scroll {
    from {scale: 0.8; opacity: 0;}
    to {scale: 1; opacity: 1}
}

/*Projects page*/
